<div class="entry">
  <h1>{{title}}</h1>
  <ul class="post_list">
  
  {{#each post}}
    <li><h3>{{subject}}</h3></li>
     <p>
     	{{description}}
     	<br><br>
     	{{time}}
     </p>
      <br>
  {{/each}}

</ul>
</div>